.container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;

  .content-container {
    flex: 1;
    display: flex;
    flex-flow: column;

    .header {
      width: 100%;
    }

    .content {
      flex: 1;
      width: 100%;

      .layout-container {
        height: 100%;
        padding: 10px 20px;
      }
    }
  }
}