@import '../../app/globals.scss';

.container {
  // position: relative;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background: $backround-color;
  display: flex;

  .content_container {
    flex-grow: 1;
    display: flex;
    flex-flow: column;

    .header {
      width: 100%;
      flex: 0 1 auto;
      height: fit-content;
    }

    .content {
      flex-grow: 1;
      width: 100%;
      // min-height: 80vh;
      flex: 1 1 auto;

      .layout_container {
        margin: $space-3;
        border-radius: 6px;
        background-color: white;
        height: 88vh;
        max-height: 88vh;
        overflow: hidden;

        .container_header {
          height: 50px;
          background-image: linear-gradient(to right, #6b967b, #76c9bf);
          color: $color-light;
          padding: $space-2;
          line-height: 32px;
          font-weight: $font-weight-bold;
          font-size: $title-sm-text;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }
      }
    }

    .footer {
      width: 100%;
      height: fit-content;
      flex: 0 1 auto;
    }
  }
}
